<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <select id="memberList" resultType="DTO">
        select * from member

    </select>
    <select id="viewMember" resultType="DTO">
        select * from member where m_id = #{m_id}
    </select>

    <insert id="insertMember" parameterType="DTO">
        INSERT INTO member(m_flag, m_id, m_pw, m_name, m_phone, m_address, m_email, m_s_number) VALUES (#{m_flag}, #{m_id}, #{m_pw}, #{m_name}, #{m_phone}, #{m_address}, #{m_email}, #{m_s_number})
    </insert>

    <select id="checkID" parameterType="DTO" resultType="int">
        SELECT COUNT(m_id) FROM member WHERE m_id=#{m_id}
    </select>

    <select id="loginService" parameterType="DTO" resultType="int">
        SELECT count(m_id) FROM member WHERE m_id = #{m_id} and m_pw = #{m_pw}
    </select>

    <select id="admin_flag_Service" parameterType="DTO" resultType="String">
        SELECT m_flag FROM member WHERE m_id = #{m_id}
    </select>

    <select id="findIDService" parameterType="DTO" resultType="String">
        SELECT m_id FROM member WHERE m_phone = #{m_phone} and m_name = #{m_name}
    </select>

    <select id="newPW_check_Service" parameterType="DTO" resultType="String">
        SELECT m_pw FROM member WHERE m_id = #{m_id} and m_phone = #{m_phone}
    </select>

    <select id="newPWService" parameterType="DTO" resultType="Integer">
        UPDATE member SET m_pw = #{m_pw} WHERE m_id = #{m_id} and m_phone = #{m_phone}
    </select>

</mapper>